
:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --light_purple: #c2a4df;
  --purple: #9b51e0;
  --d_grey: #303841;
  --silver: #808080;
}

* { 
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--d_grey);
  color: #fff;
}


.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 10px;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.gallery::after {
  content: "";
  width: 350px;
}
figure {
  padding: 5px;
  display: inline-block;
  justify-content: center;
  padding: 10px;
}

figcaption {
  margin: 5px;
  font-variant: small-caps;
  font-family: Arial;
  font-weight: bold;
  color: #bb3333;
}


img {
  max-width: 75%;
  display: block;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #c2a4df;
  border-top: 10px solid #c2a4df;
  
}

.logo img {
  
  display:block;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin: 0 20px;
}

nav a {
  color: green;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 36px;
  margin: 30px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin: 40px;
}

body a {
      color: var(--silver);
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #9b51e0;
}